<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: #4caf50;
    color: white;
  }
</style>

<body>
  <h1>View Your item Data</h1>
  </br>
  <form action="/">
    <button>Home</button>
  </form>
  </br>
  <table>
    <thread>
      <tr>
        <th>item ID</th>
        <th>item Name</th>
        <th>Quantity</th>
      </tr>
    </thread>
    <tbody>
      <% items.forEach(function(item){ %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_quantity %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  </br>
  </br>
  <h3>Enter item ID to delete</h3>
  <form action="/delete_items" method="POST">
    <label for="item_id">item ID</label>
    <input type="text" id="item_id" name="item_id" placeholder="Enter ID ..">
    </br>
    </br>
    <input type="submit" value="Submit">
  </form>
</body>