<style>
  body {
    background-image: url('companyx.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>
<h1>
  Welcome to Company Y
  <h1>
    <h2>
      Product Tools : Perform below operations
      <h2>
        <form action="/add_products">
          <button>Add Products</button>
        </form>
        <form action="/view_products">
          <button>View Products</button>
        </form>
        <form action="/delete_products">
          <button>Delete Products</button>
        </form>
        <form action="/update_products">
          <button>Update Products</button>
        </form>
      </h2>
    </h2>
  </h1>
</h1>