<style>
  body {
    background-image: url('companyx.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>
<h1>
  Welcome to Company Y
  <h1>
    <h2>
      item Tools : Perform below operations
      <h2>
        <form action="/add_items">
          <button>Add items</button>
        </form>
        <form action="/view_items">
          <button>View items</button>
        </form>
        <form action="/delete_items">
          <button>Delete items</button>
        </form>
        <form action="/update_items">
          <button>Update items</button>
        </form>
      </h2>
    </h2>
  </h1>
</h1>